<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
        <!-- Switchery -->
    <link href="/isard-admin/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
         <div class="page-title">
            <div class="title_left">
               <h3><i class="fa fa-gears"></i> {{ nav }} <small>Available to domains</small></h3>
            </div>
            <div class="clearfix"></div>
         </div>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
         <div class="x_title">
            <h3><i class="fa fa-rss"></i> Interfaces <small></small></h3> 
            <ul class="nav navbar-right panel_toolbox">
               <li><a class="add-new-interface"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a></li>
               <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
               <li><a class="close-link"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
         </div>
         <div class="x_content">
            <p class="text-muted font-13 m-b-30"></p>
            <div id="tableDiv"></div>
            <table id="table-interfaces" class="table">
               <thead>
                  <tr>
                     <th></th>
                     <th>Name</th>
                     <th>Description</th>
                     <th>Network</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
         <div class="x_title">
            <h3><i class="fa fa-video-camera"></i> Videos <small></small></h3> 
            <ul class="nav navbar-right panel_toolbox">
               <li><a class="add-new-videos"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a></li>
               <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
               <li><a class="close-link"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
         </div>
         <div class="x_content">
            <p class="text-muted font-13 m-b-30"></p>
            <div id="tableDiv"></div>
            <table id="videos" class="table">
               <thead>
                  <tr>
                     <th></th>
                     <th>Name</th>
                     <th>Description</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
         <div class="x_title">
            <h3><i class="fa fa-lock"></i> Remote VPNs <small></small></h3> 
            <ul class="nav navbar-right panel_toolbox">
               <li><a class="add-new-remotevpn"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a>
               </li>
               <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
               </li>
               <li><a class="close-link"><i class="fa fa-close"></i></a>
               </li>
            </ul>
            <div class="clearfix"></div>
         </div>
         <div class="x_content">
            <p class="text-muted font-13 m-b-30"></p>
            <div id="tableDiv"></div>
            <table id="table-remotevpn" class="table">
               <thead>
                  <tr>
                     <th></th>
                     <th>Name</th>
                     <th>Description</th>
                     <th>Client</th>
                     <th>Extra</th>
                     <th>Conn</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
         <div class="x_title">
            <h3><i class="fa fa-bolt"></i> Boots <small></small></h3> 
            <ul class="nav navbar-right panel_toolbox">
               <!--<li><a class="add-new-boot"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a></li>-->
               <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
               <li><a class="close-link"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
         </div>
         <div class="x_content">
            <p class="text-muted font-13 m-b-30"></p>
            <div id="tableDiv"></div>
            <table id="boots" class="table">
               <thead>
                  <tr>
                     <th></th>
                     <th>Name</th>
                     <th>Description</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
         <div class="x_title">
            <h3><i class="fa fa-road"></i> Network QoS <small></small></h3> 
            <ul class="nav navbar-right panel_toolbox">
               <li><a class="add-new-qos-net"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a>
               </li>
               <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
               </li>
               <li><a class="close-link"><i class="fa fa-close"></i></a>
               </li>
            </ul>
            <div class="clearfix"></div>
         </div>
         <div class="x_content">
            <p class="text-muted font-13 m-b-30"></p>
            <div id="tableDiv"></div>
            <table id="table-qos-net" class="table">
               <thead>
                  <tr>
                     <th></th>
                     <th>Name</th>
                     <th>Description</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
         <div class="x_title">
            <h3><i class="fa fa-road"></i> Disk QoS <small></small></h3> 
            <ul class="nav navbar-right panel_toolbox">
               <li><a class="add-new-qos-disk"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a>
               </li>
               <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
               </li>
               <li><a class="close-link"><i class="fa fa-close"></i></a>
               </li>
            </ul>
            <div class="clearfix"></div>
         </div>
         <div class="x_content">
            <p class="text-muted font-13 m-b-30"></p>
            <div id="tableDiv"></div>
            <table id="table-qos-disk" class="table">
               <thead>
                  <tr>
                     <th></th>
                     <th>Name</th>
                     <th>Description</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
               </tbody>
            </table>
         </div>
      </div>
   </div>  
</div>

{% include '/admin/pages/domains_resources_modals.html' %}
{% include '/snippets/alloweds_form.html' %}
    
{% endblock %}

{% block pagescript %}
    <!-- Switchery -->
    <script src="/isard-admin/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Isard restful ajax calls -->
    <script src="/isard-admin/static/js/restful.js"></script>
    <script src="/isard-admin/static/admin/js/domains_resources.js"></script>
{% endblock %}
